data/transcripts/*.json filter=lfs diff=lfs merge=lfs -text
data/transcripts_llm/*.json filter=lfs diff=lfs merge=lfs -text
data/audio_vad/*.json filter=lfs diff=lfs merge=lfs -text
data/eyegaze_vad/*.csv filter=lfs diff=lfs merge=lfs -text
data/eyegaze_vectors/*.csv filter=lfs diff=lfs merge=lfs -text
data/manifest.json filter=lfs diff=lfs merge=lfs -text
data/vha_metadata/*.xml filter=lfs diff=lfs merge=lfs -text
